html, body {
    background-color: rgb(250, 249, 246);
    height: 100%;
    font-size: calc(15px + 0.390625vw);
    color:#02182d;
    
}

nav {
    background-color: rgb(250, 249, 246);
    
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

ul, li {
    list-style: none;
}

.card {
    border: none;
    background-color: transparent;
}

button {
    background-color: rgb(145,91,65);
    color: rgb(250, 249, 246);
    border-color: rgba(145,91,65, 0.5)
}

button:hover {
    box-shadow: 2px 4px rgba(145,91,65, 0.5);
}

input {
    margin: 2px;
}

.background-image {
    min-height: calc(80vh - 80px);
    width: 100%;
    background-size: cover;
    
}

.home-intro {
    background-color: rgba(250, 249, 246, 0.9);
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    box-shadow: 5px 10px rgba(145,91,65, 0.5);
}

.home-intro-text {
    height: 60%;
    padding: 50px;
}

.about {
    margin-top: 20px;
    padding: 40px;
}

.menu-container {
    max-width: 50vh;
    margin: auto;
}


.menu-signature {
    color: aliceblue;
    box-sizing: border-box;
    width: 100%;
    flex: auto;
    background-color: #02182d;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}

label {
    font-weight: bold;
}

.booking-form {
    background-color: rgba(250, 249, 246, 0.9);
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    box-shadow: 5px 10px rgba(145,91,65, 0.5);
}

.booking-form-fields {
    padding: 10px;
    margin: 20px;
}

label {
    text-align: center;
}

footer {
    background-color: rgba(250, 249, 246);
}

.messages {
    position: relative;
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    transition: visibility 0s, opacity 250ms, transform 250ms;
}
.messages.hide {
    display: none;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px); 
    transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
}

