html, body {
    background-color: aliceblue;
    height: 100%;
    color: black;
}

h1 {
    font-size: 300%;
    text-align: center;
}

.card {
    border: none;
    background-color: transparent;
}

button {
    background-color: aliceblue;
    
    border-color: red;
}

.nav-link {
    color: red;
}

.nav-link:hover {
    color: green;
}

.home-image {
    background-image: url('/static/images/feedme.jpg');
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}

.home-intro {
    background-color: rgba(0, 140, 69, 0.5);
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    height: 40%;
    width: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-intro-text {
    height: 75%;
    padding: 50px;
}

.home-intro button {
    color: red;
    font-weight: bold;
    padding: 30px;
    display: inline-block;
    align-items: center;
    margin: 0 40px;
}

.menu-container {
    max-width: 50%;
    margin: auto;
}

.menu-signature {
    color: aliceblue;
    box-sizing: border-box;
    width: 100%;
    flex: auto;
    background-color: #02182d;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.booking-form {
    background-color: rgba(0, 140, 69, 0.5);
    padding: 10px;
}

.booking-form-fields {
    padding: 10px;
    margin: 20px;
    font-weight: bold;
}

.booking-image-fixed {
    position: fixed;
    top: calc(var(--book-header-scroll-offset) * 1px);
    bottom: 0;
    right: 0;
   
}

footer {
    background-color: darkblue;
    color: white;
}