{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="page-section clearfix">
    <div class="container-fluid booking-image">
        <div class="">
            <div class="left-0 text-center bg-faded p-5 rounded booking-form">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Table Booking Form</span>
                </h2>
                <div class="row">
                    <div class="col-md-8 mt-3 offset-md-2">
                    
                        <form method="POST" action="{% url 'make_booking' %}" name="form">

                            {{ form|crispy }}


                            {% csrf_token %}


                            <div class=""><button class="btn-xl"
                                    type="submit">Submit Booking</button>
                            </div>
                           
                        </form>
                    </div>
                    
                 
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}