{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1>Menu <i class="fab fa-elementor"></i></h1>
    <div class="menu-container">
        <div class="menu-signature">
            <h2>Signature Menu</h2>
            <h3>Starter</h3>
            <p>The Cutting Board
                Trout Roe & caviar / Grape Bruschetta / Scallop Ceviche / Wagyu Beef-Bearnaise Tartare</p>
            <h3>Main Course</h3>
            <p><span> Beef Wellington <br> </span>
                Beef tenderloin with Dijon mustard, mushroom duxelle, parma ham & puff pastry. Served with mashed potatoes, greens and red wine sauce.</p>
            <p>
                <span>Add: <br></span>
                <span>
                    Fresh Truffle +75,- <br>
                </span>
                <span>
                    Crispy Wagyu Greaves +75,- <br>
                </span>
                <span>
                    Gold caviar 30g. +395,- <br>
                </span>
            </p>
            <h3>Desert</h3>
            <p>
                <span>
                    Salted Caramel Creme Brulée <br>
                </span>
                <span>
                    Classic creme brulée with a twist of salted caramel <br>
                </span>
                <span>
                    Served with fresh berries
                </span>
            </p>
            <h4>575,- per person</h4>
            <button onclick="window.location.href={% url 'make_booking' %};">
                Book Table
            </button>
        </div>
    </div>
    <br>
    <div class="menu-container">
        <div class="menu-signature">
            <h2>Wine menu</h2>
            <h4>Standard – 395 kr.</h4>
            <p>Carneros Creek Vintage Wines Estate, Chardonnay<br><em>USA – Californien – 2018</em>
                <br><br>Monte Chiaro Chianti 345 Reserva , Sangiovese Chianti<br><em>Tuscany – Italy – 2018</em>
                <br><br>Olivini Condolcezza, Trebiano di Lugana<br><em>Veneto – Italy – NV</em></p>
            <h4>Premium – 495 kr.</h4>
            <p>Seguinot-Bordet Petit Chablis, Chardonnay<br><em>Bourgogne – France – 2019</em>
                <br><br>Malleolus Bodegas Emilio Moro, Tempranillo<br><em>Catalia y Leon – France – 2018</em>
                <br><br>Icewine, Schmitt Sohne, Welschriesling, Ortega, Optmia<br><em>Rheinhessen – Germany – 2016</em></p>
            <button onclick="window.location.href={% url 'make_booking' %};">
                Book Table
            </button>
        </div>
        
    </div>
</div>

{% endblock content %}